LOGIN_URL=https://x.com/i/flow/login
BASE_URL=https://x.com
SHORT_TIMEOUT=3000
MEDIUM_TIMEOUT=5000
LONG_TIMEOUT=10000
VIEWPORT_WIDTH=1366
VIEWPORT_HEIGHT=768
PUPPETEER_HEADLESS=false
PUPPETEER_SLOWMO=50
USER_AGENT=Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36